
#root {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.patiekalas{
  display: flex;
  align-items: center;
}
.patiekalas p{
  width: 50%;
}
.patiekalas .strong{
  width: 20%
}
.patiekalas .image{
  width: 30%;
}

.meniu{
  text-align: center;
}